@tailwind base;
@tailwind components;
@tailwind utilities;
/* Hide Scrollbar */
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}